<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    
    <h2><%= titles%></h2><br>

   <img src="<%=feature_images %>">
   <br>
   <a href="<%=urls%>" style="text-decoration: none;color:black"> <h4><%= excerpts %>...</h4></a>
    <div style="text-align: center;justify-content: center;align-self: center;align-items: center;">
  <a href="<%=urls%>"> <button style="font-size: 20;border: none;background-color: white;
    color: black;
    border: 2px solid black; " >Read full article</button></a></div>
   
</body>
</html>